/*
 *= require animate.min
 *= require bootstrap.min
 *= require creative
*/

body {
  padding-top: 0px !important;
}

.pages-panel {
  margin-bottom: 0px !important;
}

.panel-body {
  background-image: url('signup.jpg');
  background-position: center;
}

label {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

